01_week/assignment/binary_nbr/main
01_week/assignment/division/main
01_week/assignment/equation/main
01_week/assignment/even_nbrs/main
01_week/assignment/GCD/main
01_week/assignment/item_price/main
01_week/assignment/min_str/main
01_week/assignment/second_entry/main
01_week/cin_cout
01_week/containers
01_week/hello_world
01_week/if_cycle
01_week/ops
01_week/types
02_week/assignment/Factorial/a.out
02_week/assignment/IsPalindrom/a.out
02_week/assignment/PalindromFilter/a.out
